export(ontology_context)
export(object_set)
export(object_set_by_interface)
export(os_filter)
export(os_select)
export(os_traverse)
export(os_search_around)
export(os_distinct)
export(os_arrange)
export(os_union)
export(os_intersect)
export(os_count)
export(os_aggregate)
export(os_collect)
export(os_show_query)
export(os_to_graph)

S3method(print, OntologyContext)
S3method(print, ObjectSet)

importFrom(DBI, dbExistsTable)
importFrom(dplyr, tbl)
importFrom(dbplyr, sql)
importFrom(rlang, abort)
